@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #000000;
  font-family: "Inter", sans-serif;
}

.height-full {
  min-height: 100% !important;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #242731;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #242731;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

.mobile-nav {
  animation-name: slideIn;
  animation-timing-function: ease-in-out;
  animation-duration: 700ms;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}